body, html {
    padding: 5px;
    background-color: lightblue;
    height: 100%;
}
p {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {
    text-align: center;
    font-size: 30px;
    color:black;
    background-color: lightyellow;
    padding: 10px;
}
h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
    font-size: large;
}
h3 {
    padding-top: 5px;
}
input {
    margin: 5px;
}
ul {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
li {
    display: inline;
    padding: 10px;
}
th {
    padding: 5px;
}
a:link {
    color:lightyellow;
}
a:visited {
    color: purple;
}